<div class="center jumbotron">
  <h1>Apprenticeships</h1>

  <h2>
    Create a profile and hunt for jobs!
  </h2>

  <%= link_to "Create a profile Now!", '#', class: "btn btn-lg btn-primary" %>
</div>
